apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference
  labels:
    app: inference
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: inference
  template:
    metadata:
      labels:
        app: inference
    spec:
      nodeSelector:
        role: inference
      tolerations:
      - key: nvidia.com/gpu
        operator: Exists
        effect: NoSchedule

      containers:
      - name: inference
        image: cosmos-reason1-server:latest
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            nvidia.com/gpu: 1
        command: ["python3", "-u", "src/inference/main_qwen3.py"]
        env:
        - name: MODEL_PATH
          value: "/models/Qwen3-VL-2B-Instruct-NVFP4"
        - name: GPU_MEMORY_UTILIZATION
          value: "0.8"
        - name: LD_LIBRARY_PATH
          value: "/usr/lib/wsl/lib:/usr/local/nvidia/lib:/usr/local/nvidia/lib64"
        - name: MAX_MODEL_LEN
          value: "4000"   # Extremely Short Length
        - name: REDIS_HOST
          value: "redis-service"
        - name: REDIS_PORT
          value: "6379"
        - name: MIN_BATCH_SIZE
          value: "3"
        - name: BATCH_TIMEOUT
          value: "5.0"
        volumeMounts:
        - name: model-volume
          mountPath: /models
        - name: videos-volume
          mountPath: /videos
        - name: src-volume
          mountPath: /app/src/inference
        - name: wsl-lib
          mountPath: /usr/lib/wsl/lib
          readOnly: true
        - name: wsl-drivers
          mountPath: /usr/lib/wsl/drivers
          readOnly: true
        - name: dxg
          mountPath: /dev/dxg
          readOnly: true
        securityContext:
          privileged: true
      volumes:
      - name: videos-volume
        hostPath:
          path: /videos
          type: Directory
      - name: src-volume
        hostPath:
          path: /src_host/inference
          type: Directory
      - name: model-volume
        hostPath:
          path: /models
          type: Directory
      - name: wsl-lib
        hostPath:
          path: /usr/lib/wsl/lib
          type: Directory
      - name: wsl-drivers
        hostPath:
          path: /usr/lib/wsl/drivers
          type: Directory
      - name: dxg
        hostPath:
          path: /dev/dxg
          type: CharDevice
