# Copyright (c) 2019, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nvidia-device-plugin-daemonset
  namespace: kube-system
spec:
  selector:
    matchLabels:
      name: nvidia-device-plugin-ds
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: nvidia-device-plugin-ds
    spec:
      nodeSelector:
        accelerator: nvidia-gpu
      tolerations:
      - key: nvidia.com/gpu
        operator: Exists
        effect: NoSchedule
      # Mark this pod as a critical add-on; when enabled, the critical add-on
      # scheduler reserves resources for critical add-on pods so that they can
      # be rescheduled after a failure.
      # See https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/
      priorityClassName: "system-node-critical"
      containers:
      - image: nvcr.io/nvidia/k8s-device-plugin:v0.18.0
        name: nvidia-device-plugin-ctr
        env:
          - name: PASS_DEVICE_SPECS
            value: "true"
          - name: FAIL_ON_INIT_ERROR
            value: "false"
          - name: LD_LIBRARY_PATH
            value: "/usr/lib/aarch64-linux-gnu"
        securityContext:
          privileged: true
        volumeMounts:
        - name: device-plugin
          mountPath: /var/lib/kubelet/device-plugins
        - name: nvidia-smi
          mountPath: /usr/bin/nvidia-smi
          readOnly: true
        - name: libnvidia-ml
          mountPath: /usr/lib/aarch64-linux-gnu/libnvidia-ml.so.1
          readOnly: true
        - name: nvidia0
          mountPath: /dev/nvidia0
        - name: nvidiactl
          mountPath: /dev/nvidiactl
        - name: nvidia-modeset
          mountPath: /dev/nvidia-modeset
        - name: nvidia-uvm
          mountPath: /dev/nvidia-uvm
        - name: nvidia-uvm-tools
          mountPath: /dev/nvidia-uvm-tools
      volumes:
      - name: device-plugin
        hostPath:
          path: /var/lib/kubelet/device-plugins
      - name: nvidia-smi
        hostPath:
          path: /usr/bin/nvidia-smi
      - name: libnvidia-ml
        hostPath:
          path: /usr/lib/aarch64-linux-gnu/libnvidia-ml.so.1
      - name: nvidia0
        hostPath:
          path: /dev/nvidia0
      - name: nvidiactl
        hostPath:
          path: /dev/nvidiactl
      - name: nvidia-modeset
        hostPath:
          path: /dev/nvidia-modeset
      - name: nvidia-uvm
        hostPath:
          path: /dev/nvidia-uvm
      - name: nvidia-uvm-tools
        hostPath:
          path: /dev/nvidia-uvm-tools
